<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MVC Project Stamatopoulos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    @Html.ActionLink("Stamatopoulos MVC Project", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
            </li>
            <li class="nav-item active">
                @Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })
            </li>
            <li class="nav-item active">
                @Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Trainers
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    @Html.ActionLink("Trainers", "Index", "Trainers", new { area = "" }, new { @class = "dropdown-item" })
                    <div class="dropdown-divider"></div>
                    @Html.ActionLink("Create Trainers", "Create", "Trainers", new { area = "" }, new { @class = "dropdown-item" })
                </div>
            </li>
        </ul>
    </div>
</nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; Stamatopoulos Project - @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</html>
